.div-all {
    width: 80%;
    place-content: center;
    flex-direction: column;
    margin: auto;
}

.div-about {
    width: 80%;
    height: 50px;
    margin-top: 40px;
    border-bottom: solid #1c1c1c;
    display: flex;
}

.div-map {
    display: flex;
    width: 80%;


}

.p-title {
    display: flex;

    font-size: 30px;
}