.div-full{
    margin-top: 20px;
    width: 80%;    
    
}
.div-title{
    
    position: fix;
    padding-bottom: 20px;
    border-bottom: solid 1px #1c1c1c;
}
.div-content{
    margin-top:20px;
}
.div-htmlcontent{
    font-size: 15px;
}
.div-icons {

    margin-top: 30px;
    display: flex;
    
    width:100%
    
    
}
.div-info{
    display: flex;
    flex-direction: column;
    float: right;
}
.p-date{
    float: right;
    font-size: 7px;
    color: #9b9999;
}
.p-writer{
    float: right;
    font-size: 7px;
    color: #9b9999;
}
.icon_Like {
    width: 30px;
    cursor: pointer;
}
.Like { margin : 50px 0px 0px 48%; }

.Like h5 {margin-top: 10px; }

