
.list-full{
    width: 100%;
}
table{
    
    text-align: center;
    width: 100%;
    margin-top: 10px;
    border-collapse: separate,initial;
    border-top: 1px solid #1c1c1c;
	
}
tbody{
    border-spacing: 0 1rem;
}
tr{
    border: #c6c6c6;
    
    
}
th{
    
  
    font-style: normal;
    font-size: 15px;
    color: #1c1c1c;
    border-bottom: 2px  #c6c6c6;
    padding: 10px;
    
}
.th-title{
    width: 60%;
}
.th-date{
    width: 40%;
}


td{
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid #c6c6c6;
    padding: 10px;
  
}


/*pagination css */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul.pagination li{
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
}

ul.pagination li a{
    text-decoration: none;
    color: #48424d;
    font-size: 1rem;
}

ul.pagination li.active a{
    color: white;
}

ul.pagination li.active{
    background-color: #1c1c1c;
}

ul.pagination li a:hover,
ul.pagination li a.ctive{
    color:#7c7c7c;
}

.page-selection{
    width: 48px;
    height: 30px;
    color: #337ab7;
}