.bg{
    display:grid;
    place-content: center;
}
.input_contents {
    background-color: rgb(229, 229, 231);
    width:350px;
    height: 100vh;
    scroll-margin: 100%;
    padding-top: 100px;
    font-weight: bold;
    font-size: 0.9em;
    padding-left: 40px;
    
    

    
}
.signup{
   
    width: 250px;
    height: 50px;
    margin-bottom: 15px;
    align-items: center;
    line-height: 10px;
}
input::placeholder{
    align-items: center;
}
.signup_button{
   
    width: 250px;
    height: 50px;
    margin-bottom: 15px;
    background-color: black;
    color:aliceblue;
    border: 0;
    outline:0;
}
