.div-all{
    width:80%;
    place-content:center;
    flex-direction: column;
    margin: auto;
}

.p-login{
    font-size: 18px;
}
.p-id{
    font-size: 10px;
}

.p-password{
    font-size: 10px;
}

.input-id, .input-password{
    width: 300px;
    height: 50px
}

.button-signin,.button-signup{
    width: 190px;
    height: 50px;
    background-color: #ffffff;
    box-shadow: none !important;
    -webkit-box-shadow: none;
    border: 0;
    outline:0;
    background-color:aqua;
}

