
.orderdetail_dropdown{
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px
}
.frame1{
   
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.orderdetail-frame2{
    display: flex;
    justify-content: center;
}

.detailPaymentBtn{
   
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 80%;
  height: 43px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-top: 10px;
}    
.selectedPayment{
    border: 1px sold rgb(73, 179, 187);
    color: aqua;
    background-color: #626262;
    font-weight: bold;
}

.AiIcon_orderUpDown{
  font-size: 16px;
  margin-left:15px;
  margin-top: 13px;
  margin-bottom: 8px;

}
.ordertitle{
    float: left;

}

.orderdetail-paypal-container{
    width: 100%;
    height: 43px;
    
}
